<p id="notice"><%= notice %></p>

<h1>Fazer</h1>
<table>
<th colspan ="4"></th>
  <tbody>
    <% @to_do.each do |task| %>
      <tr>     
      <li class="list-group-item list-group-item-success"><%= task.content %></li>
      <li class="list-group-item list-group-item-info"><%= task.state %></li>       
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Deseja deletar a tarefa?' } %></td>
        <td><%= link_to 'Fazendo', change_task_path(task, state: "doing"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Fazendo</h1>
<table>
<th colspan ="5"></th>
  <tbody>
    <% @doing.each do |task| %>
      <tr>
      <ul class="list-group">
      <li class="list-group-item list-group-item-success"><%= task.content %></li>
      <li class="list-group-item list-group-item-info"><%= task.state %></li>
    </ul>       
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Deseja deletar a tarefa?' } %></td>
        <td><%= link_to 'Fazer', change_task_path(task, state: "to_do"), method: :put %></td>
        <td><%= link_to 'Feito', change_task_path(task, state: "done"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<h1>Feito</h1>
<table>
<th colspan ="4"></th>
  <tbody>
    <% @done.each do |task| %>
      <tr>
      <li class="list-group-item list-group-item-success"><%= task.content %></li>
      <li class="list-group-item list-group-item-info"><%= task.state %></li>     
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Deseja deletar a tarefa?' } %></td>
        <td><%= link_to 'Fazendo', change_task_path(task, state: "doing"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>