<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: {class:'form-signin'}) do |f| %>
  <%= f.error_notification %>
  
<h2 class="text-center" >Editar Perfil</h2>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

    <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false, placeholder: 'Sua senha', input_html: {class: 'form-control'}  %>
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true, label: false, placeholder: 'Confirme sua senha', input_html: {class: 'form-control'}  %>

    <%= f.button :submit, "Mudar minha senha", class: "btn btn-primary btn-block" %>

<%= render "devise/shared/links" %>

<% end %>